.cart{
    background-color: white;
    width: 30vw;
    height: auto;
    position: absolute;
    top: 54px;
    right: 20px;
    border-radius: 2rem;
    border: 5px;
    border-color: blue;
    background-color: rgb(192, 249, 230);
}

.Header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.50rem;
}

.cartName{
    text-align: center;
    font-size: 2rem;
}

.X{
    position: absolute;
    right: 25px;
}

.Total{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.50rem;
    text-align: end;
}